.dashboard-footer {
    flex-shrink: 0;
    background-color: #000000;
    text-align: center;
    padding: 10px !important;
    color: white;
    z-index: 9;
}

.footerCopy {
    font-size: 0.9rem;
}

.instagram-link {
    color: #fff;
    text-decoration: none;
}

.instagram-link:hover {
    text-decoration: underline;
}

.instagram-link {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .footerCopy {
        font-size: 0.7rem;
    }
}