html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: thin; /* Sets the scrollbar width to thin */
  scrollbar-color: #ffffff #38459a; /* Thumb color followed by track color */
  -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on touch devices */
  scroll-behavior: smooth; /* Smooth scrolling for modern browsers */
}

/* Custom Scrollbar styling for Webkit browsers (Chrome, Opera, Safari) */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #38459a;
}

body::-webkit-scrollbar-thumb {
  background-color: #38459a;
  border-radius: 16px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #38459a;
}

body::-webkit-scrollbar-button {
  display: none;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: rgb(255, 255, 255);
}

p{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
#root {
  height: 100%;
  width: 100%;
}

.logoWhite{
  filter: brightness(0) invert(1); 
}

.btn, .btn:hover, .btn:active, .btn:focus-visible, .btn:first-child:active {
  border-radius: 25px;
  border: 2px solid transparent;
  font-weight: bold;
  background-color:#ffffff;
  width: auto;
  box-shadow: none;
  color:black
}

.form-page-form {
  padding: 20px;
}

.form-page-form input {
  padding: 10px;
  border: 1px solid #4A3835 ;
  border-radius: 4px;
  margin-top: 5px;
}

.form-page-form label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  border: none;
}

.back-to-home, .back-to-home:hover {
  text-decoration: none;
}

.error-message {
  color: #dc3545;
  text-align: center;
  margin-top: 20px;
}

.AyaFormPage {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0a192f 0%, #102a43 50%, #1f4068 100%);
  display: flex;
  flex-direction: column;
}

.form-page-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 100%; 
  height: 100px;
  overflow-y: auto;
}

.form-page-container {
  background-color: #7d7d7d;
  border-radius: 40px;
  padding: 20px;
  width: 80%;
  max-width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.form-page-container h2{
  margin-top: 0.7rem;
}

.form-page-container a{
  color: #4A3835 !important;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
}

.recaptcha-container {
  display: flex; /* Center the reCAPTCHA horizontally */
  justify-content: center; /* Center horizontally */
  margin: 10px 0; /* Add space above and below */
  transform: scale(0.9);
}

@media (max-width: 480px) {
  .form-page-container {
    width: 95%; /* Full width on mobile */
    height: auto; /* Adjust height based on content */
    max-width: 100%;
    padding: 0px; /* Less padding on mobile */
    border-radius: 20px;
    overflow-y: auto; /* Vertical scrolling only if needed */
  }

  .form-page-content {
    padding: 10px; /* Reduce padding on mobile */
  }

  .form-page-form {
    padding: 10px; /* Reduce padding on mobile */
  }

  .form-page-form input {
    padding: 5px;
  }

  .form-page-container a {
    font-size: 0.8rem; /* Smaller font size for mobile */
  }

  .btn, .btn:hover, .btn:active, .btn:focus-visible, .btn:first-child:active  {
    font-size: smaller;
    padding: 0.2rem;
  }

  .small {
    font-size: 0.7rem;
  }
}
