.dashboard-header {
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 60px;
}
.DashboardLogo {
    fill: #000000;
}
.dashboard-title {
    color: #4a3835;
    font-size: 24px;
    margin: 0;
    text-align: left;
    flex-grow: 1;
}
.dashboard-title h2 {
    margin: 0;
}
.dashboard-header-button,
.dashboard-header-button:hover,
.dashboard-header-button:active {
    color: #ffffff !important;
    background: none !important;
    border: none;
    cursor: pointer;
}

:focus-visible {
    outline: none; /* Removes the default outline */
}

.dashboard-header-button:focus-visible {
    outline: none; /* Ensures no outline is shown on focus */
}