/* === HeaderAlert styles === */

.dashboard-header-button,
.dashboard-header-button:focus,
.dashboard-header-button:focus-visible,
.dashboard-header-button:hover,
.dashboard-header-button:active,
.dashboard-header-button:focus-within,
.dashboard-header-button:target {
    outline: none !important;
    border: none !important;
    background: none !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.dashboard-header-button:hover,
.dashboard-header-button:active {
    background-color: transparent;
}

.alert {
    transition: all 0.3s ease-in-out;
}

.alert:hover {
    opacity: 1 !important;
}
